In [1]:
print('hello')

hello

In [2]:
import pandas as pd

In [3]:
os.getcwd()

'/media/user/E448C65748C6285E/Naji/Work/Projects/TSPL/ml-template/notebooks'

In [4]:
df = pd.read_csv(r"../medicalcost/artifact/data_ingestion/2022-07-07-20-11-32/raw_data/insurance.csv")

FileNotFoundError: [Errno 2] No such file or directory: '../medicalcost/artifact/data_ingestion/2022-07-07-20-11-32/raw_data/insurance.csv'

In [ ]:
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [ ]:
train_test_split(df, test_size=0.2, random_state=0)

[      age     sex     bmi  children smoker     region      charges
 621    37    male  34.100         4    yes  southwest  40182.24600
 194    18    male  34.430         0     no  southeast   1137.46970
 240    23  female  36.670         2    yes  northeast  38511.62830
 1168   32    male  35.200         2     no  southwest   4670.64000
 1192   58  female  32.395         1     no  northeast  13019.16105
 ...   ...     ...     ...       ...    ...        ...          ...
 763    27    male  26.030         0     no  northeast   3070.80870
 835    42    male  35.970         2     no  southeast   7160.33030
 1216   40    male  25.080         0     no  southeast   5415.66120
 559    19    male  35.530         0     no  northwest   1646.42970
 684    33  female  18.500         1     no  southwest   4766.02200

 [1070 rows x 7 columns],
       age     sex     bmi  children smoker     region      charges
 578    52    male  30.200         1     no  southwest   9724.53000
 610    47  female  29.370         1     no  southeast   8547.69130
 569    48    male  40.565         2    yes  northwest  45702.02235
 1034   61    male  38.380         0     no  northwest  12950.07120
 198    51  female  18.050         0     no  northwest   9644.25250
 ...   ...     ...     ...       ...    ...        ...          ...
 1084   62  female  30.495         2     no  northwest  15019.76005
 726    41    male  28.405         1     no  northwest   6664.68595
 1132   57    male  40.280         0     no  northeast  20709.02034
 725    30  female  39.050         3    yes  southeast  40932.42950
 963    46    male  24.795         3     no  northeast   9500.57305

 [268 rows x 7 columns]]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df, test_size=0.2)

ValueError: not enough values to unpack (expected 4, got 2)

In [ ]:
train_test_split(df,test_size=0.2, stratify='array-like')

TypeError: Singleton array array('array-like', dtype='<U10') cannot be considered a valid collection.

In [ ]:
type(pd.concat([X["subreddit"], y], axis=1))

pandas.core.frame.DataFrame

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

# create dummy data with unbalanced feature value distribution
X = pd.DataFrame(np.concatenate((np.random.randint(0, 3, 500), np.random.randint(0, 10, 500)),axis=0).reshape((500, 2)), columns=["text", "subreddit"])
y = pd.DataFrame(np.random.randint(0,2, 500).reshape((500, 1)), columns=["label"])

# split stratified to target variable and subreddit col
X_train, X_test, y_train, y_test = train_test_split(
    X, pd.concat([X["subreddit"], y], axis=1), stratify=pd.concat([X["subreddit"], y], axis=1))

# remove subreddit cols from target variable arrays
y_train = y_train.drop(["subreddit"], axis=1)
y_test = y_test.drop(["subreddit"], axis=1)

In [ ]:
X = pd.DataFrame(np.concatenate((np.random.randint(0, 3, 500), np.random.randint(0, 10, 500)),axis=0).reshape((500, 2)), columns=["text", "subreddit"])
y = pd.DataFrame(np.random.randint(0,2, 500).reshape((500, 1)), columns=["label"])

# split stratified to target variable and subreddit col
X_train, X_test, y_train, y_test = train_test_split(
    X, pd.concat([X["subreddit"], y], axis=1), stratify=pd.concat([X["subreddit"], y], axis=1))

# remove subreddit cols from target variable arrays
y_train = y_train.drop(["subreddit"], axis=1)
y_test = y_test.drop(["subreddit"], axis=1)

In [ ]:
X_train

     text  subreddit
356     4          9
55      1          2
446     0          0
181     0          1
425     0          4
..    ...        ...
461     6          1
397     2          2
34      0          1
90      2          1
350     8          7

[375 rows x 2 columns]

In [ ]:
y_train

     label
356      1
55       0
446      0
181      1
425      1
..     ...
461      0
397      1
34       0
90       0
350      1

[375 rows x 1 columns]

In [ ]:
y

     label
0        1
1        1
2        0
3        0
4        0
..     ...
495      1
496      0
497      1
498      0
499      1

[500 rows x 1 columns]

In [ ]:
from insuranceprediction.util.util import read_yaml

In [ ]:
column_info = read_yaml(r'../config/schema.yaml')

In [ ]:
c_details = dict(column_info['columns'])

In [ ]:
c_details

{'age': 'float',
 'sex': 'category',
 'bmi': 'float',
 'children': 'int',
 'smoker': 'bool',
 'region': 'category',
 'charges': 'float'}

In [ ]:
list(c_details.keys())

['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges']

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv(r"../insuranceprediction/artifact/data_ingestion/2022-07-07-20-11-32/raw_data/insurance.csv")

In [ ]:
len(df.columns)

7

In [ ]:
lst1 = [1, 2, 3, 4, 5]
lst2 = [1, 12, 3, 4, 5]

In [ ]:
all(i == j for i, j in zip(lst1, lst2))

False

In [ ]:
list(df.columns)

['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges']

In [ ]:
column_info['domain_values']['sex']

['male', 'female']

In [ ]:
column_info['categorical_columns']

['sex', 'region']

In [ ]:
for cat in column_info['categorical_columns']:
    print(cat)
    dts =[ x for x in column_info['domain_values'][cat]]
    print(dts)

sex
['male', 'female']
region
['southwest', 'southeast', 'northwest', 'northeast']

In [ ]:
df['sex'].unique()

array(['female', 'male'], dtype=object)

In [ ]:
dts

['southwest', 'southeast', 'northwest', 'northeast']

In [ ]:
List1 = ['python', 'JS', 'c#', 'go', 'c', 'c++']
List2 = ['c#',  'python']

check = all(item in List1 for item in List2)

if check:
    print("The list1 contains some elements of the list2")
else:
    print("No, List1 doesn't have any elements of the List2.")

No, List1 doesn't have any elements of the List2.

In [ ]:
check

False

In [ ]:
import yaml

data = dict(
    A = 'a',
    B = dict(
        C = 'c',
        D = 'd',
        E = 'e',
    )
)

with open('data.yml', 'w') as outfile:
    yaml.dump(data, outfile, default_flow_style=False)

In [ ]:
import json
import os

In [ ]:
with open("../insuranceprediction/artifact/data_validation/2022-07-14-11-32-09/report.json") as f:
    data = json.load(f)

In [ ]:
data['data_drift']['data']['metrics']['dataset_drift']

False

In [ ]:
test = "['data_drift']['data']['metrics']['dataset_drift']"

In [ ]:
test

"['data_drift']['data']['metrics']['dataset_drift']"

In [ ]:
data[test]

KeyError: "['data_drift']['data']['metrics']['dataset_drift']"

In [ ]:
list(df['smoker'].unique())

['yes', 'no']

In [ ]:
import importlib

In [ ]:
module = importlib.import_module("sklearn.linear_model")

In [ ]:
module

<module 'sklearn.linear_model' from '/media/user/E448C65748C6285E/Naji/Work/Projects/TSPL/ml-template/venv/lib/python3.8/site-packages/scikit_learn-1.1.1-py3.8-linux-x86_64.egg/sklearn/linear_model/__init__.py'>

In [ ]:
rg = getattr(module, "LinearRegression")

In [ ]:
rg()

LinearRegression()

In [5]:
import csv

def write_csv(data):
    with open('example.csv', 'a') as outfile:
        writer = csv.writer(outfile)
        writer.writerow(data)

for x in range(5):
    write_csv([x, x+1])

In [6]:
from datetime import datetime

In [8]:
datetime.now().strftime("%m_%d_%Y_%H_%M_%S")

datetime.datetime(2022, 7, 24, 21, 14, 20, 183393)